.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.icon-container {
  text-align: center;
}

.icon-container p {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
}
