.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-container {
  text-align: center;
  margin-bottom: 56px;
}

.icon-container p {
  font-size: 14px;
  margin-top: 18px;
  color: white;
  text-transform: uppercase;
}
