.about-page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 155px;
}

.about-image-wrapper {
  width: 900px;
  height: auto;
  margin-left: 38px;
}

.about-page-image {
  width: 100%;
  height: auto;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-top: 60px;
  width: 400px;
}

.about-page-content h1 {
  color: #868686;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 80px;
}

.about-text-one,
.about-text-two {
  font-size: 16px;
  color: #000000cc;
  line-height: 140%;
  margin-bottom: 24px;
}

.about-text-three {
  font-size: 16px;
  color: #000000cc;
  line-height: 140%;
}
