.checkout-page {
  max-width: 1400px;
  margin: 0 38px;
  padding-top: 164px;
}

.checkout-page h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}

.checkout-line {
  width: 672px;
  height: 0;
  border: none;
  border-top: 1px solid #f0f0f0;
  margin: 18px 0;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
}

.checkout-form {
  width: 672px;
}

.checkout-tabs {
  display: flex;
  margin-bottom: 40px;
}

.checkout-tabs button {
  background: none;
  border: none;
  padding: 0 22px 10px 0;
  font-size: 14px;
  cursor: pointer;
  color: #000;
}

.checkout-tabs button:not(.active) {
  color: #cacaca;
}

.billing-form,
.payment-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.form-row input {
  width: 326px;
  height: 47px;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #000;
}

.form-row input::placeholder {
  color: #999;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 0;
  text-transform: uppercase;
}

.phone-input {
  display: flex;
  width: 326px;
}

.phone-input select {
  width: 80px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #000;
  background: transparent;
}

.phone-input input {
  flex-grow: 1;
}

.continue-button {
  background-color: black;
  color: white;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  width: 326px;
}

.order-item-image {
  width: 96px;
  height: 94px;
}
