/* About us section media queries */

@media (max-width: 1200px) {
  .about-info {
    width: 50%;
  }

  .about-image {
    width: calc(65% - 38px);
  }
}

@media (max-width: 1024px) {
  .about-section {
    padding: 0 16px;
  }

  .about {
    font-size: 18px;
  }

  .about-info,
  .about-link {
    font-size: 16px;
  }

  .about-info {
    width: 55%;
    margin-left: 16px;
  }

  .about-image {
    margin-right: 16px;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 16px;
  }

  .about-info,
  .about-link {
    font-size: 14px;
  }

  .about-image {
    width: calc(100% - 32px);
  }
}

/* Product section media queries */

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .products {
    margin: 0 16px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .product {
    width: calc(50% - 8px); /* 2 items per row */
    margin-bottom: 20px;
  }

  .product-details {
    font-size: 14px;
  }
}
