/* About section css */

.about-section {
  display: flex;
  align-items: flex-start;
}

.about {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  color: #868686;
  margin-top: 87px;
  margin-left: 38px;
  width: 60px;
  height: 31px;
}

.about-info {
  font-size: 20px;
  line-height: 140%;
  color: #000000cc;
  width: 669px;
  height: 62px;
  margin-top: 87px;
  margin-left: 35px;
}

.about-link-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 97px;
  margin-right: 38px;
  border-bottom: 1px solid #000000cc;
  padding-bottom: 4px;
}

.about-link {
  font-size: 18px;
  line-height: 140%;
  color: #000000cc;
  text-decoration: none;
}

.arrow-icon {
  width: 32px;
  height: 5px;
  margin-left: 5px;
}

.about-image {
  width: 787px;
  height: 427px;
  margin-top: 70px;
  margin-right: 38px;
  display: block;
  margin-left: auto;
  margin-bottom: 86px;
}

/* Products section css */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 172px 38px 47px;
}

.product-title {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  color: #868686;
  margin: 0;
}

.product-link-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000cc;
  padding-bottom: 4px;
}

.product-link {
  font-size: 18px;
  line-height: 140%;
  color: #000000cc;
  text-decoration: none;
}

.arrow-icon {
  width: 32px;
  height: 5px;
  margin-left: 5px;
}

/* Products section CSS */
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 38px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.product-image {
  width: 441px;
  height: 427px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-details {
  color: #000000cc;
  line-height: 140%;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  width: 100%; /* Ensure it takes full width of product container */
  text-align: left; /* Align text to the left */
  margin-top: 22px;
}

.product-name {
  font-size: 20px;
}

.product-price {
  font-size: 18px;
}
