/* About section css */

.about-section {
  display: flex;
  align-items: flex-start;
}

.about {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  color: #868686;
  margin-top: 87px;
  margin-left: 38px;
  width: 60px;
  height: 31px;
}

.about-info {
  font-size: 20px;
  line-height: 140%;
  color: #000000cc;
  width: 669px;
  height: 62px;
  margin-top: 87px;
  margin-left: 35px;
}

.about-link-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 97px;
  margin-right: 38px;
  border-bottom: 1px solid #000000cc;
  padding-bottom: 4px;
}

.about-link {
  font-size: 18px;
  line-height: 140%;
  color: #000000cc;
  text-decoration: none;
}

.arrow-icon {
  width: 32px;
  height: 5px;
  margin-left: 5px;
}

.about-image {
  width: 787px;
  height: 427px;
  margin-top: 70px;
  margin-right: 38px;
  display: block;
  margin-left: auto;
  margin-bottom: 86px;
}

/* Products section css */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 172px 38px 47px;
}

.product-title {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  color: #868686;
  margin: 0;
}

.product-link-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000cc;
  padding-bottom: 4px;
}

.product-link {
  font-size: 18px;
  line-height: 140%;
  color: #000000cc;
  text-decoration: none;
}

.arrow-icon {
  width: 32px;
  height: 5px;
  margin-left: 5px;
}

/* Products section CSS */
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 38px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 441px;
  height: 427px;
  object-fit: cover;
}

.product-details {
  color: #000000cc;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin-top: 22px;
}

/* Process section css */

.process-image {
  width: 1360px;
  height: auto;
  margin: 202px 38px 0;
}

.process-content {
  display: flex;
  align-items: flex-start;
  margin-top: 58px;
  margin-left: 38px;
  margin-bottom: 0px;
}

.process-title {
  font-size: 20px;
  color: #868686;
  font-weight: normal;
  line-height: 140%;
  margin-right: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.process-info {
  font-size: 20px;
  color: #000000cc;
  font-weight: normal;
  line-height: 140%;
  max-width: 850px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* styles for detailed sections */

.process-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 60px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 0px;
}

.process-item {
  display: flex;
  flex-direction: column;
  width: calc(33% - 32px);
  position: relative;
}

.process-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 105px;
  width: 1px;
  background-color: #d0d0d0;
}

.process-header {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: 400;
  color: black;
  margin-bottom: 25px;
  margin-top: 0px;
}

.process-text {
  font-size: 18px;
  color: #000000cc;
  width: 409px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Location section css */

.location-section {
  display: flex;
  align-items: flex-start;
  margin: 191px 120px 108px 38px;
}

.location-image {
  width: 787px;
  height: 427px;
  margin-right: 137px;
}

.location-content {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 787px - 38px);
}

.location-content h2 {
  font-size: 20px;
  font-weight: 400;
  color: #868686;
  margin: 0 0 35px;
}

.location-content p {
  font-size: 20px;
  color: #000000cc;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 0;
}

.locations-link {
  font-size: 18px;
  color: #000000cc;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #000000cc;
  padding-bottom: 4px;
  margin-top: 222px;
}

.arrow-icon {
  width: 32px;
  height: 5px;
}
