/* About us section media queries */

@media (max-width: 1200px) {
  .about-info {
    width: 50%;
  }

  .about-image {
    width: calc(65% - 38px);
  }
}

@media (max-width: 1024px) {
  .about-section {
    padding: 0 16px;
  }

  .about {
    font-size: 18px;
  }

  .about-info,
  .about-link {
    font-size: 16px;
  }

  .about-info {
    width: 55%;
    margin-left: 16px;
  }

  .about-image {
    margin-right: 16px;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 16px;
  }

  .about-info,
  .about-link {
    font-size: 14px;
  }

  .about-image {
    width: calc(100% - 32px);
  }
}

/* Product section media queries */

@media (max-width: 1024px) {
  .product-header {
    margin-left: 16px;
    margin-right: 16px;
  }

  .product-title {
    font-size: 18px;
  }

  .product-link {
    font-size: 16px;
  }

  .products {
    margin: 0 16px;
  }

  .product-detail {
    font-size: calc(13px + 3 * ((100vw - 480px) / (1024 - 480)));
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .product-detail {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-detail {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
