.navbar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 145px;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar-logo {
  flex: 1;
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
  margin-left: 38px;
  line-height: 0.9;
}

.navbar-middle img {
  margin-top: 10px;
}

.navbar-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 38px;
}

.icons-container {
  margin-bottom: 7px;
}

.navbar-icon {
  margin: 0 10px;
}

.icon {
  width: 22px;
  height: 22px;
  color: white;
  transition: color 0.3s;
}

.navbar-icon:hover .icon {
  color: #007bff;
}

.navbar-button {
  text-transform: uppercase;
  margin: 5px 0;
  color: white;
  text-decoration: none;
}

.language-switch {
  display: flex;
  margin-top: 12px;
  align-items: center;
  margin-right: auto;
  margin-left: 12px;
  position: relative;
  bottom: 4px;
}

.navbar-language {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
  position: relative;
  top: -0.5px;
}
