.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 145px;
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  transition: background 0.4s ease-in-out, height 0.4s ease-in-out;
}

.navbar-logo {
  flex: 1;
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
  margin-left: 38px;
  line-height: 0.9;
}

.navbar-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar-middle img {
  margin-top: 10px;
  margin-left: 46px;
}

.logo-image {
  height: 100%;
  object-fit: contain;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.navbar-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 29px;
  margin-left: 0;
}

.icons-container {
  margin-bottom: 7px;
}

.navbar-icon {
  margin: 0 10px;
}

.icon {
  width: 22px;
  height: 22px;
  color: white;
  transition: color 0.3s;
}

.navbar-icon:hover .icon {
  color: #007bff;
}

.navbar-button {
  text-transform: uppercase;
  margin: 5px 0;
  color: white;
  text-decoration: none;
}

.language-switch {
  display: flex;
  margin-top: 12px;
  position: relative;
  bottom: 4px;
  left: -2px;
}

.navbar-language {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  top: -0.5px;
  width: 55px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

/* Css for navbar when scrolled down */

.navbar-bg {
  background: white;
  height: 100px;
}

.navbar-bg .navbar-button {
  color: black;
}

.navbar-bg .icon {
  color: black;
}

.navbar-bg .navbar-language {
  color: black;
}

.navbar-bg .navbar-middle img {
  margin-top: 0;
  width: 112px;
  height: auto;
}
