.locations-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 144px;
}

.locations-left-section {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  font-size: 16px;
}

.locations-title {
  color: #868686;
  margin-top: 0;
  margin-bottom: 24px;
}

.locations-info h2 {
  font-size: 32px;
  font-family: 'EB Garamond', serif;
  color: #000;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 26px;
}

.locations-address {
  color: #000000cc;
  margin-top: 0;
  margin-bottom: 9px;
}

.locations-hour {
  color: #868686;
  margin-top: 0;
  margin-bottom: 6px;
}

.locations-divider {
  border: none;
  border-top: 1px solid #cccccc;
  width: 234px;
  margin: 56px 0;
}

.locations-right-section {
  flex-basis: 75%;
  display: flex;
  justify-content: flex-end;
  margin-right: 38px;
}

.locations-image {
  width: 980px;
  height: auto;
  margin-top: 24px;
  margin-bottom: 216px;
}
