html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white; /* Fallback color */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-section {
  height: 100vh;
  background: url('./assets/hero_image.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.content-section {
  background-color: white;
}
