html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
}

.app {
  min-height: 100vh;
}

.hero-section {
  height: 100vh;
  background: url('./assets/hero_image.png') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.content-section {
  background-color: white;
  min-height: 100vh;
}

.navbar {
  height: 145px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
