.background-image {
  background-image: url('./assets/hero_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: -1;
}
